.movie {
	background-color: #e8e8e8;
}
.movie-1 {
	width: 50%;
	padding: 0 50px 0 10px
}
.movie-2 {
	width: 50%;
	margin: 3px 0;
}

.movie-list {
	padding: 0 0 0 30px;
	margin: 17px 0 0;
	list-style-image: url('../img/list_arrow.png');
}
.movie-item {
	padding-left: 13px;
	line-height: em(28);
}

.movie-container {
	width: 500px;
	height: 307px;
	margin-left: auto;
	@include border-radius(8px);
	overflow: hidden;
	position: relative;
	z-index: 100;
}
