$font-family-base: "Trebuchet MS", Arial, Helvetica, sans-serif;
$font-size-base: 20px;
$line-height-base: 1;
$text-color: #3c3c3c;
$body-bg: #fff;
$font-weight: 400;

//Screen:
$ss: 320px;
$xs: 480px;
$sm: 768px;
$md: 992px;
$lg: 1218px;

// $wrapper-max-width: 1600px;
$grid-gutter-width: 30px;

//Links
$link-color: #777;
$link-hover-color: #555;
$link-decoration: none;
$link-hover-decoration: none;




