
.navbar {
	background-color: #fefefe;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.19);
	text-align: center;	
	vertical-align: middle;

	line-height: 74px;
	@include fix-all {
		margin-top: (106px/$font-size-base)+rem;
	}
	@include fix-ie {
		margin-top: 106px;
	}

}
.navbar-header {
	@include clearfix;
	position: relative;

	@media (min-width: $sm) {
		float: left;
		min-height: 74px;
	}
}

.collapsing {
	position: relative;
	height: 0;
	overflow: hidden;
	@include transition-property(height, visibility);
	@include transition-duration(.35s);
	@include transition-timing-function(ease);
}

.navbar-collapse {
	-webkit-overflow-scrolling: touch;
	@include clearfix;

	&.collapse{
		display: none;
		&.in {
			display: block;
			overflow-y: auto;
		}
	}

	@media (min-width: $sm){
		width: auto;
		&.collapse {
			display: block !important;
			height: auto !important;
			overflow: visible !important;
		}
	}

}

.brand {				
	border: 8px solid rgba(92, 91, 91, 0.22);
	@include border-radius(50%);
	text-align: center;	
	@include background-clip(padding-box);
	font: 54px "Niagara";
	color: #fefefe;

	position: absolute;
	top: 50%;
	margin-top: -60px;
	box-sizing: content-box;
	@include fix-all {
		width: 104px;
		line-height: 104px;
	}
	@include fix-ie {
		width: 120px;
		line-height: 120px;
	}
}

.navbar-toggle {
	position: relative;
	float: right;
	margin-right: $navbar-padding-horizontal;
	padding: 9px 10px;
	@include navbar-vertical-align(34px);
	background-color: transparent;
	background-image: none; 
	border: 1px solid transparent;
	border-radius: $border-radius-base;
	&:focus {
		outline: 0;
	}
	.icon-bar {
		display: block;
		width: 22px;
		height: 2px;
		border-radius: 1px;
		background-color: #888;
		+ .icon-bar {
			margin-top: 4px;
		}
	}

	@media (min-width: $sm) {
		display: none;
	}	
} // end navbar-toggle

.nav {
	margin: 0 17%;
	.nav-link {
		display: block;
		padding: 0;
		line-height: 2;
		border-top: 1px solid $nav-social-color;
		background-color: $nav-link-bg;
		color: $nav-link-color;
		text-transform: uppercase;
		font-size: 1em;
		margin: 0 1em;
		font-weight: 300;
		@include single-transition(background-color, 0.2s, ease);
		&:hover, &.active{
			text-decoration: underline;			
			background-color: rgba($nav-social-color, 0.1);
		}

		@include respond($sm){
			display: inline;
			padding: 10px 0;

			line-height: inherit;
			border-top: none;
			background-color: transparent;
			@include single-transition(border-bottom, 500ms, ease, 200ms);
			&:hover, &.active{
				border-bottom: #ff0000 solid 1px;
				text-decoration: none;
				background-color: transparent;
			}	
		}

		@include respond($md){
			font-size: (18/14)+em;
			margin: 0 (18/14)+em;
		}	
	} // end nav-link
}// end nav

.social {
	float: none;
	padding-top: 36px;
	line-height: 3;	
	@include respond($xs) {
		padding-top: 0;
	}
	@include respond($sm){
		float: right;
		padding-top: 0;	
		line-height: inherit;		
	}
	a {			
		color: $nav-link-color;
		&::before {
			background-color: $nav-social-color;
			@include border-radius(50%);
			color: $nav-link-bg;
			line-height: 25px;
			width: 25px;	
			border: 1px solid $nav-social-color;
			box-sizing: content-box;	
			@include single-transition(background-color, 0.2s, ease);			
		}
		&:hover::before{
			background-color: $nav-link-bg;
			color: $nav-social-color;			
		}			
		span {
			display: inline-block;
			text-indent: -9999px;
		}
	}	
}



















