.feedback__text {
	font-size: em(21);
	font-weight: bold;
	font-style: italic;
	color: #55ab00;
	margin: 0;
}
.feedback__tel {
	font-size: em(44);
	font-weight: bold;
	font-style: italic;
	color: #fe6215;
	margin: 0;
}
.feedback__index {
	font-size: em(21,44);
	vertical-align: super;
}