.popular {
	overflow: hidden;
	@include respond($sm){
		max-height: 300px;
	}
	@include respond($md){
		max-height: 400px;
	}
	@include respond($lg){
		max-height: 350px;
	}
}
.share {
	overflow: hidden;
	@include respond($sm){
		max-height: 150px;
	}
	@include respond($md){
		max-height: 200px;
	}
	@include respond($lg){
		max-height: 175px;
	}
}

.gds {
	@extend %col-lg-2;
	@extend %col-md-3;
	@extend %col-xs-3;
	@extend %hidden-xs;
	margin-bottom: em(33);
	&:nth-child(-n+4) {
		display: block !important;
	}
}
.gds__c {
	img {
		border: 2px solid #55ab00;
		border-radius: 50%;
		display: block;
		width: 100%;
	}
	&:hover img {
		border-color: #ccc;
	}
}
.gds_desc {
	padding-top: 5px;
	font-size: 12px;
	text-align: center;
	color: #55ab00;
	margin: 0 -10px;
	@include respond(600px,max){
		font-size: .8em;
	}
}