
.navbar {
	background-color: transparent;
	overflow-y: visible;
}
.navbar_sm {
	line-height: 40px;
	height: 40px;
}
.navbar_lg {
	line-height: 54px;
	height: 54px;
}

.navbar__head {
	@include clearfix;
	position: relative;	
	@include respond($sm){
		float: right;
	}
}
.navbar__social{
	float: right;
}
.navbar_title {
	text-align: center;
	margin: 0;
	@include respond($sm){
		display: none;
	}
}

.navbar__toggle {
	position: absolute;	
	top: 50%;
	margin-top: -8px;
	margin-left: 11px;
	height: 17px;
	width: 26px;
	background-color: transparent;
	background-image: none; 
	border: none;
	@include respond($sm){
		display: none;
	}
	&:focus {
		outline: 0;
	}	
	@include fix-ie {
		& span:first-child + span {
			left: 0;
			top: 0;
		}
		& span:first-child + span + span {
			right: 0;
			top: 0;
		}
		& span:first-child + span + span + span {
			right: 0;
			top: 7px;
			width: 100%;
		}
		& span:first-child + span + span + span + span {
			left: 0;
			bottom: 0;
		}
		& span:first-child + span + span + span + span + span {
			right: 0;
			bottom: 0;
		}
	}
	&[aria-expanded="true"] {
		.navbar__line {
			&:nth-child(2){
				@include transform(rotate(45deg) translate(4px));
				top: 1px;
			}
			&:nth-child(3){
				@include transform(rotate(-45deg) translate(-4px));
				top: 1px;
			}
			&:nth-child(4){
				@include opacity(0);
			}
			&:nth-child(5){
				@include transform(rotate(-45deg) translate(4px));
				bottom: 1px;
			}
			&:nth-child(6){
				@include transform(rotate(45deg) translate(-4px));
				bottom: 1px;
			}
		}
	}
}// navbar__toggle

.navbar__line {
	height: 3px;
	background-color: #555;
	position: absolute;
	width: 50%;
	@include single-transition(all, 0.2s, ease-in-out);
	&:nth-child(2) {
		left: 0;
		top: 0;
	}
	&:nth-child(3) {
		right: 0;
		top: 0;
	}
	&:nth-child(4) {
		right: 0;
		top: 7px;
		width: 100%;
	}
	&:nth-child(5) {
		left: 0;
		bottom: 0;
	}
	&:nth-child(6) {
		right: 0;
		bottom: 0;
	}			
}

.navbar__nav {
	position: relative;
	z-index: 10;
	padding: 0;
	margin: 0;
	list-style: none;
}

.navbar__link {
	display: block;	
	padding-left: 15px;			
	height: 100%;
	@include single-transition(all, 0.2s, ease);
	@include respond($sm){
		padding: 0;
	}
}
.navbar__item{
	line-height: 2;	
	@include respond($sm){
		display: inline-block;		
		line-height: inherit;	
		vertical-align: top;
		padding: 0 .7%;
	}
}

.navbar__link_tb {
	font-family: "Trebuchet MS",sans-serif;
	font-size: 13px;
	font-style: italic;
	@include respond($sm){ 
		font-size: em(13);		
	}
}
.navbar__link_ar {
	font-family: Arial,sans-serif;
	font-size: 16px;
	font-weight: bold;
	@include respond($sm){ 
		font-size: 0.65em;	
	}
		@include respond($md){ 
		font-size: 0.7;	
	}
	@include respond($md){ 
		font-size: em(16);	
	}
}
.navbar__link_color_grey {
	border-bottom: 1px solid #cbcbcb;
	background-color: rgba(245,244,243,.9);
	color: #777;
	@include fix-ie {
		background-color: #f5f4f3;
	}
	&:hover{
		background-color: rgba(203,203,203,0.86);
		color: #fff;
		@include fix-ie {
			background-color: rgb(220,220,220);
		}
	}	
	@include respond($sm){
		background-color: transparent;
		border: none;
		&:hover{
			background-color: transparent;			
			color: $link-hover-color;			
		}	
	}
}
.navbar__link_color_green {
	border-bottom: 1px solid #cbcbcb;
	background-color: rgba(102, 182, 63, 0.77);
	color: #fff;
	@include fix-ie {
		background-color: #55ab00;
	}
	&:hover{
		background-color: rgba(#55ab00,0.86);
		color: #fff;
		@include fix-ie {
			background-color: rgb(85, 171, 0);
		}				
	}	
	@include respond($sm){
		background-color: transparent;
		border: none;

		&:hover{
			color: $link-hover-color;
			background-color: transparent;
		}	
	}
}


.collapsing {
	position: relative;
	height: 0;
	overflow: hidden;
	@include transition-property(height, visibility);
	@include transition-duration(.35s);
	@include transition-timing-function(ease);
}

.navbar__collapse {
	-webkit-overflow-scrolling: touch;
	width: 200px;
	&.collapse{
		display: none;
		&.in {
			display: block;
			overflow-y: auto;
		}
	}
	@include respond($sm){ 
		width: 100%;
		&.collapse {
			display: block !important;
			height: auto !important;
			overflow: visible !important;
		}
	}
}

