@media (min-width: 1200px) {
    .container {
        width: 1030px;  
    }
}
@media (min-width: 992px) {
    .header .container,
    .footer .container {
        padding-left: 0;
        padding-right: 0;
    }
}

@media (max-width: 991px) {
    .container {
        width: 100%;
    }
    .header_right_menu-link {
        font-size: 0.714rem;
    }
    .header_left-menu .header_menu-item {
        margin-right: 10px;
    }
    .header_left-menu .header_menu-item::after {
        margin-left: 4px;
    }
    .header_left-menu .header_left_menu-link {
        font-size: 1rem;
    }
    .header_left-menu .header_menu-item {
        line-height: 1.142rem;
    }
    header .search {
    width: 230px;
    }
    .grid {
        border-radius: 0;
    }
    .sidebar {
        position: absolute;
        top: 0px;
        left: -220px;
        z-index: 10;
    }
    .row-offcanvas-left.active {
        left: 220px;
    }
}
@media (max-width: 767px) {

    header .search {
        float: none;
        left: 50%;
        margin-left: -115px;
    }
    .header_right_menu{
        text-align: center;
    }
    .logo {
    float: none;
    }
    .header_left {
        text-align: center;
    }
    .header_left-body {
        padding-left: 0;
    }
    .header {
        padding-bottom: 10px;
    }
    .grid {
        margin: 0;
        padding: 10px 15px 0;
    }
    .post_pic {
        float: none;
    }
    .post_title-text {
        margin-top: 0;
    }
    .xs-float {
        float: left;
        margin-right: 10%;
    }
    .footer .search {
        width: 210px;
    }
}